<!DOCTYPE html>
<html lang="en">

<head>
  <title>Payment Form</title>
  <script src="https://js.stripe.com/v3/"></script>
  <link rel="stylesheet" href="../static/css/checkout.css" />
  <style>
    .success-message {
      color: green;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <!-- Display a payment form -->

  <form id="payment-form">
    <div id="card-element">
      <!-- Stripe.js will inject the Card Element here -->
    </div>
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>
    <div id="payment-message" class="hidden"></div>
    <span id="server-response"></span>
  </form>
  <script>
    const stripe = Stripe('pk_test_51NKwuYSErS4Hkbpk7ogRr6X40o6vDXwaw9TtDkZ1A1xQfMlxfTWJxDP4mNDlsVMQlA3iR0N4YHwzi1m4TrGeGxB700nGJRbMnf');

    // Create an instance of Elements
    const elements = stripe.elements();
    const cardElement = elements.create('card');
    cardElement.mount('#card-element');

    const form = document.getElementById('payment-form');
    const submitButton = document.getElementById('submit');
    const spinner = document.getElementById('spinner');
    const buttonText = document.getElementById('button-text');
    const paymentMessage = document.getElementById('payment-message');
    const serverResponseElement = document.getElementById('server-response');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      submitButton.disabled = true;
      spinner.classList.remove('hidden');
      buttonText.textContent = 'Processing...';

      const { paymentMethod, error } = await stripe.createPaymentMethod({
        type: 'card',
        card: cardElement,
      });

      if (error) {
        paymentMessage.textContent = error.message;
        paymentMessage.classList.remove('hidden');
      } else {
        const response = await fetch("http://localhost:8000/payment/", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ items: [{ price: 10.99 }, { price: 12.99 }, { price: 15.99 }], description: 'Payment for items' }),
        });
        
        const { clientSecret, amount } = await response.json();

        const { error } = await stripe.confirmCardPayment(clientSecret, {
          payment_method: {
            card: cardElement,
          },
        });

        if (error) {
          paymentMessage.textContent = error.message;
          paymentMessage.classList.remove('hidden');
        } else {
          paymentMessage.textContent = 'Payment successful!';
          paymentMessage.classList.remove('hidden');

          serverResponseElement.textContent = 'Payment successful!';
          serverResponseElement.classList.add('success-message');
        }
      }

      submitButton.disabled = false;
      spinner.classList.add('hidden');
      buttonText.textContent = 'Pay now';
    });
  </script>

</body>

</html>
